/* ===============
   GLOBAL STYLES
   =============== */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transition: background.2s;
}

:root {
    font-size: 50%;
    scroll-behavior: smooth;

    @media (min-width:450px) {
        font-size: 62.5%;
    }
}

::-webkit-scrollbar {
    width: 7px;
    background: transparent
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--color-dark);
}

img {
    max-width: 100%;
}


body {
    font-family: 'Spartan',
        sans-serif;
    font-size: var(--size-400);
    color: var(--color-white);
    background: var(--color-dark);
    min-height: 100vh;
}

h1,
h2,
h3 {
    line-height: 1.1;
    font-weight: 700;
}

h1 {
    font-size: var(--size-700);
}

h2 {
    font-size: var(--size-600);
}

h3 {
    font-size: var(--size-500);
}

p {
    line-height: 1.4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: inherit;
}

input {
    font-size: inherit;
}