.nav {
    padding: 1.5rem 0;
    position: relative;
    background: var(--color-dark);
    color: var(--color-light);

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 4rem;
        user-select: none;
    }

    &__hamburger {
        user-select: none;
        position: relative;
        width: 3rem;
        height: 3rem;

        &::before,
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 25%;
            background: currentColor;
            width: 100%;
            height: 2px;
            transition: all .2s;
        }

        &::after {
            top: 75%;
        }

        &.active {
            &::before {
                top: 50%;
                transform: rotate(45deg);
            }

            &::after {
                top: 50%;
                transform: rotate(-45deg);
            }
        }

    }

    &__links {
        // is hidden by default
        opacity: 0;
        max-height: 0;

        background: transparent;
        width: 100%;
        height: calc(100vh - 8rem);
        overflow: hidden;
        transition: all .3s;
        flex-direction: column;
        @include flexCenter;


        &.expanded {
            // show only when the expanded class is set
            max-height: 100vh;
            opacity: 1;
        }

        & {
            padding: 2rem 0;

            a {
                color: currentColor;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            &:active {
                text-decoration: line-through;
            }

        }

    }


    @include tablet {
        .container {
            flex-wrap: nowrap;
        }

        &__links {

            // clear hidden effects from mobile
            max-height: 100vh;
            height: auto;
            opacity: 1;
            overflow: visible;

            width: auto;
            flex-direction: row;
            position: relative;

            & {
                padding: 0;

                &:not(:last-of-type) {
                    padding-right: 3rem;
                }

                a {
                    position: relative;

                    &:hover::after {
                        transform: scale(1);
                    }

                    &::after {
                        content: '';
                        width: 100%;
                        height: 1.5px;
                        background: var(--color-light);
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: -1rem;
                        z-index: 10;
                        transition: all .3s;
                        transform: scale(0);
                    }

                }

                &:active {
                    text-decoration: none;
                }

            }

        }


        &__hamburger {
            display: none;
        }
    }

}