// container
.loader {
    width: 100%;
    height: calc(100vh - var(--nav-height));
    display: grid;
    place-content: center;
}

// icon
.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 2px solid var(--color-white);
    border-right: 2px solid transparent;
    animation: spin 1s linear infinite;
}

// animation
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}