/* ===============
   UTILITIES
   =============== */

.container {
    max-width: 800px;
    margin: 0 auto;
    width: 88%;
}

.block {
    padding: 6rem 0
}

.bold {
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 1.2em 1.5em;
    cursor: pointer;
    border: 0;
    border-radius: 5em;
    font-size: inherit;
    background: var(--color-purple);
    color: #fff;
    font-weight: 700;
    transition: .2s;

    &:hover {
        background: var(--color-purple-light);
    }
}