/* ===============
   UTILITIES
   =============== */

.container {
    max-width: 850px;
    margin: 0 auto;
    width: 88%;
}

.page {
    padding: calc(var(--nav-height) * 1.5) 0;

    @media (min-width: 800px) {
        /* top right bottom left */
        padding: calc(var(--nav-height) - 4rem) 0 calc(var(--nav-height) - 4rem) var(--nav-width);
    }
}

.block {
    padding: 6rem 0
}

.bold {
    font-weight: 700;
}

.capitalize {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 1.2em 1.5em;
    cursor: pointer;
    border: 0;
    border-radius: 5em;
    font-size: inherit;
    background: var(--color-purple);
    color: #fff;
    font-weight: 700;
    transition: .2s;

    &:hover {
        background: var(--color-purple-light);
    }

    &--red {
        background: var(--color-red);

        &:hover {
            background: var(--color-red-light);
        }
    }

    &--gray {
        background: var(--color-gray-transparent);
        color: var(--color-gray);

        &:hover {
            background: var(--color-gray-light);
        }
    }
}

.accent {
    color: var(--color-accent);
}

.rows {
    display: grid;
    gap: 1rem;
}