:root {

    --color-light: #fdfdfd;
    --color-dark: #27474e;
    --color-mid: #496970;
    --color-primary: #f3344a;
    --color-secondary: #678c94;

    --shadow: 0px 0px 40px rgba(39, 71, 78, 0.1);

    --size-300: 1.3rem;
    --size-400: 1.5rem;
    --size-500: 2rem;
    --size-600: 2.5rem;
    --size-700: 3rem;
}

$tabletMediaQuery: 800px;
$desktopMediaQuery: 1100px;