:root {

    --color-light: #252945;
    --color-dark: #141625;
    --color-mid: #1E2139;

    --color-text: rgb(223, 227, 250);
    --color-text-transparent: #dfe3fa21;

    --color-black: #0C0E16;
    --color-white: #fff;

    --color-green: #33D69F;
    --color-green-transparent: #1F2C3F;

    --color-orange: #FF8F00;
    --color-orange-transparent: #2B2736;

    --color-gray: #DFE3FA;
    --color-gray-light: rgba(223, 227, 250, 0.5);
    --color-gray-transparent: #292C45;

    --color-purple: #7C5DFA;
    --color-purple-light: rgb(146, 119, 255);

    --color-accent: #7E88C3;

    --color-red: #EC5757;
    --color-red-light: rgb(255, 151, 151);

    --color-overlay: rgba(0, 0, 0, 0.5);

    --shadow: 0px 0px 5px hsla(228, 29%, 7%, 0.05);
    --shadow-hard: 0px 0px 10px 10px hsla(228, 29%, 7%, 0.1);
    --shadow-bottom: 0px 10px 10px hsla(228, 29%, 7%, 0.1);

    --border-radius: 1rem;

    --nav-width: 10rem;
    --nav-height: 9rem;

    --desktop: 1100px;
    --tablet: 800px;

    --size-300: 1.3rem;
    --size-400: 1.5rem;
    --size-500: 1.8rem;
    --size-600: 2.5rem;
    --size-700: 3rem;
}

.lightmode {
    --color-black: #373B53;
    --color-white: #0C0E16;

    --color-light: #f9fafe;
    --color-dark: #F8F8FB;
    --color-mid: #fff;

    --color-text: #859ACD;

    --color-gray: #373B53;
    --color-gray-transparent: #F3F3F5;

    --shadow-hard: 0px 0px 10px 10px hsla(228, 29%, 7%, 0.02);


    --color-orange: #FF8F00;
    --color-orange-transparent: #FFF8F0;

    --color-green: #33D69F;
    --color-green-transparent: #F3FDF9;

    --color-purple: #7C5DFA;
    --color-red: #EC5757;
}

$tabletMediaQuery: 800px;
$desktopMediaQuery: 1100px;